/*? Utils */
#jumbotron img{
    width: 40%;
}



.star:after,
.star:before{
    content:'';
    display: inline-block;
    min-height: 3px;
    min-width: 30%;
    background-color: #f8f8f8;
    margin: 10px 0;
}
.star-dark:after,
.star-dark:before{
    content:'';
    display: inline-block;
    min-height: 3px;
    min-width: 20%;
    background-color: #2b3d4f;
    margin: 10px 0;
}

/*? header */
#main-header{
    min-height: 9vh;
}

#about,
#jumbotron{
    min-height: 50vh;
}


/*? main */

/** section portfolio */
#contact-me,
#portfolio{
    min-height: 80vh;
   
}

/*? contact */
#contact-me .form-control{
    border-radius: 0;
    border:0;
    border-bottom: 1px solid #2b3d4f;
}
#contact-me .form-control:hover{
    border-radius: 0;
    border:0;
    border-bottom: 2px solid #1d83c1;
}
/*? footer */
#info{
    min-height: 30vh;
}
#copyight{
    min-height: 10vh;
}

/*! my padding  1/2 */
.ms-p-lg{
    padding: 90px 0;
}
.ms-p-md{
    padding: 60px 0;
}
.ms-p-sm{
    padding: 30px 0;
}
/*! background  color & colors*/
.db-bg{
    background-color: #2b3d4f;
}
.text-db{
    color: #2b3d4f;
}
.b-bg{
    background-color: #3a536d;
}
.dw-bg{
    background-color: #f8f8f8;
}
.g-bg{
    background-color: #1abc9b;
}
.text-g{
    color: #1abc9b;
}

.border-white{
    border: 5px dotted #bada55;
}

/*! Media query */

@media screen and (max-width: 575.99px ) {
    
  #jumbotron h4{
        font-size: 1em;
    }
}


/* my style color  1/2 (remind me struct color skeleton)

#contact-me .ms-h,
#about .ms-h,
#portfolio .ms-h{
    border: 5px dotted blue;
    min-height:100px;
    padding: 2px;
}
[class*='col']{
    border: 2px dotted #bada55;
    min-height:260px;
    padding:2px;
}

[class*='col'] [class*='col']{
    border: 2px dotted #1abc9b;
    min-height:200px;
   
}

#copyright [class*='col']{
    border: 5px dotted blue;
    min-height:50px;
    padding: 2px;
} */