/*? header */
#main-header{
    min-height: 9vh;
}


#about,
#jumbotron{
    min-height: 50vh;
}

img{
    width: 40%;
}
/*? main */

/** section portfolio */
#contact-me,
#portfolio{
    min-height: 80vh;
   
}



/** footer */
#info{
    min-height: 30vh;
}
#copyight{
    min-height: 10vh;
}


/* my style color 

#contact-me .ms-h,
#about .ms-h,
#portfolio .ms-h{
    border: 5px dotted blue;
    min-height:100px;
    padding: 2px;
}
[class*='col']{
    border: 2px dotted #bada55;
    min-height:260px;
    padding:2px;
}

[class*='col'] [class*='col']{
    border: 2px dotted #1abc9b;
    min-height:200px;
   
}

#copyright [class*='col']{
    border: 5px dotted blue;
    min-height:50px;
    padding: 2px;
} */

/* Font */
#main-footer p,
#main-header p,
#jumbotron p{
    color:#fff;
}

/*! padding */
.ms-p-lg{
    padding: 90px 0;
}
.ms-p-md{
    padding: 60px 0;
}
.ms-p-sm{
    padding: 30px 0;
}
/*! background  color*/
.db-bg{
    background-color: #2b3d4f;
}
.b-bg{
    background-color: #3a536d;
}
.dw-bg{
    background-color: #f8f8f8;
}
.g-bg{
    background-color: #1abc9b;
}

.border-white{
    border: 5px dotted #bada55;
}

/*! Media query */

@media screen and (max-width: 575.99px ) {
    
  #jumbotron h4{
        font-size: 1em;
    }
}