/*? header */
#main-header{
    min-height: 90px;
}
#portfolio,
#jumbotron{
    min-height: 500px;
}

#jumbotron .row{
    min-height: 500px;
}
[class*='col']{
    border: 5px dotted #bada55;
}

/* Font */
p{
    color:#fff;
}
/*! background  color*/
.db-bg{
    background-color: #2b3d4f;
}
.b-bg{
    background-color: #3a536d;
}
.dw-bg{
    background-color: #f8f8f8;
}
.g-bg{
    background-color: #1abc9b;
}

.border-white{
    border: 5px dotted #bada55;
}
